header {
    padding: 5rem 10rem 2.5rem 7rem;
}
.to_fav_list ,.to_news_list{
    background-color: rgb(29, 28, 28);
    border: none;
    color: #ffffff;
    padding: 0.7em 1.7em;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.to_fav_list:hover ,.to_news_list:hover{
    opacity: 1;
  }
.news_menu{
    display: flex;
    padding: 1rem 1rem 1rem 7rem;
}
.field {
    padding: 2.5rem 10rem 5rem 7rem;
}
.card_body {
    width: 80%;
    padding:3%;
}
.fav_card_body {
    width: 80%;
    padding:3%;
}
.share_icon{
    width: 30;
    padding:1rem;
}
.share{
    background-image:url("../img/share.png");
    width: 30;
    padding:1rem;
    background-size: contain;
    background-repeat: no-repeat;
}
.share:hover{
    cursor:pointer;
}
.share:active{
    background-image:url("../img/share_blue.png");
}
.share_active{
    display: none;
}
/* .share_after{
    display: none;
} */
.favorite_icon{
    width: 30;
    padding:1rem;
}
.favorite{
    padding:3%;
    font-size: 1.5rem;
}
.favorite_after{
    padding:3%;
    font-size: 1.5rem;
}
.favorite:hover{
    font-weight:bold;
    cursor:pointer;
    color:crimson;
}
.favorite_after:hover{
    cursor:pointer;
}
.favorite:active{
    font-weight:bold;
    cursor:pointer;
    color:crimson;
}

.news_thumbnail {
    width: 30%;
}

.data_body{
    display: flex;
    align-items:center;
}
.clone_fav{
    display: flex;
    align-items:center;
}
header {
    width: 100%;
    height: 200px;
    padding: 5px 0;
    text-align: center;
    color: #a52a2a;
    background-image: url("sampleimg2.jpg");
    background-position: center bottom;
    background-size: cover;
  }
  header .headline{
      line-height: 100px;
      font-size: 30px;
      text-decoration: underline;
  }
  .nav-list {
      line-height: 100px;
      list-style: none;
      font-weight: bold;
  }
  .nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
  }
  footer{
      width: 100%;
      height: 100px;
      background-color: #174a5c;
      color: white;
      text-align: center;
  }
  ul.footer-menu li {
  display: inline;
  }
@media screen and (max-width: 959px) {
    /* 959px以下に適用されるCSS（タブレット用） */
}
@media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
}
